
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~\ckeditor/ckeditor.js" type="text/javascript"></script>
@model ChemAnalyst.Models.SA_Advisory
<div class="update-profile-wrapper">

    <h3><a href="@Url.Action( "Advisory","AdvisorySolutions" )"><i class="fa fa-list"></i> Advisory List</a></h3>

    <div class="white-wrapper">

        <div class="col-md-6 col-lg-7 col-md-offset-2">

            <div class="eq-form">


                <div class="change">
                    <img src="~/images/change-img.jpg" alt="" />
                    <p>Add New Section</p>
                </div>

                <div class="eq-form-box">
                    @using (Html.BeginForm("SaveAdvisory", "AdvisorySolutions", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()
                        <div style="visibility:hidden">
                            @Html.TextBoxFor(model => model.id, new { @class = "form-control", @placeholder = "Title * ", required = "required" })
                        </div>
                        <div class="col-md-4 col-lg-12 form-group">
                            @Html.TextBoxFor(model => model.AdvisoryName, new { @class = "form-control", @placeholder = "Title * ", required = "required" })


                            @*<input type="text" value="" size="40" class="form-control" placeholder="Title">*@
                        </div>



                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="10" class="form-control" placeholder="Description"></textarea>*@
                            @Html.TextAreaFor(model => model.AdvisoryDiscription, new { @class = "form-control", @rows = 4, @placeholder = "Description (100)* " , minheight="100" })


                        </div>
                     


                        
                            @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                            @Html.TextBoxFor(model => model.Meta, new { @class = "form-control" , value="metatitle", type="hidden" , @placeholder = "Meta Title * ", required = "required" })


                        

                        
                            @*<textarea rows="4" class="form-control" placeholder="Meta Description"></textarea>*@
                            @Html.TextBoxFor(model => model.MetaDiscription, new { @class = "form-control" , value="metatitle", type="hidden" , @rows = 4, @placeholder = "Meta Description * ", required = "required" })





                        <div class="col-md-4 col-lg-12 form-group">
                            <label style="font-weight:normal">Advisory Content</label>
                            @Html.TextAreaFor(model => model.AdsContent, new { @class = "form-control", @rows = 200, @placeholder = "Advisory Content * ", id = "AdvisoryContent" })
                        </div>
                        <script>

                            CKEDITOR.replace("AdvisoryContent");

                        </script>
                        @*<div class="col-sm-6 col-lg-12">
                                <div class="form-group">

                                    @Html.DropDownListFor(m => m.Product, Model.ProductList, "Select Product", new { @class = "form-control" })


                            </div>*@

                        <div class="col-sm-6 col-lg-12">
                            <div class="form-group">
                                <input type="file" name="file" class="form-control" />


                            </div>
                        </div>

                        <div class="btn-wrapper">

                            <a class="gray-btn" href="@Url.Action("Advisory","AdvisorySolutions")">Cancel</a>
                            <input type="submit" class="blue-btn" value="Save">

                        </div>

                    }

                </div>


            </div>

        </div>
    </div>

</div>





<script type="text/javascript">
    $(function () {
        $('#AdvisoryContent').ckeditor({
            toolbar: 'Full',
            enterMode: CKEDITOR.ENTER_BR,
            shiftEnterMode: CKEDITOR.ENTER_P
        });

    


    });
</script>


<script>

$(document).on('click', '.browse', function(){
  var file = $(this).parent().parent().parent().find('.file');
  file.trigger('click');
});
$(document).on('change', '.file', function(){
  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
});


</script>

