@model IEnumerable<ChemAnalyst.Models.CompanyAndProductRelation>
@{
    ViewBag.Title = "Product Relation Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

        $(document).ready(function () {
            $('#company').DataTable();
        });


</script>
    <div class="update-profile-wrapper">
        @{
            if (TempData["Message"] != null)
            {
                <span style="color: #d9534f;">@TempData["Message"]</span>
            }
        }
        <a class="btn btn-success pull-right" style="margin-left:20px; margin-top:4px" href="@Url.Action("index", "CompanyAndProductRelation")"><i class="fa fa-plus"></i> Company & Product Reletion</a>

        <div class="white-wrapper" style="padding-top:10px">

            <div class="data-detail-wrapper table-responsive">

                <table class="table table-bordered" id="company">
                    <thead>
                        <tr>
                            <th class="bg-info">@Html.DisplayNameFor(r => r.SA_Company.Name)</th>
                            <th class="bg-info">@Html.DisplayNameFor(r => r.SA_Product.ProductName)</th>
                            @if (ChemAnalyst.Common.Helpers.Global.AdminRole == Convert.ToString(Session["UserRole"]))
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var item in Model)
                        {
                        <tr>
                            <td>@item.SA_Company.Name</td>
                            <td>@item.SA_Product.ProductName</td>
                            @if (ChemAnalyst.Common.Helpers.Global.AdminRole == Convert.ToString(Session["UserRole"]))
                            {
                                <td>
                                    @Html.ActionLink("Delete", "Delete", "CompanyAndProductRelation", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>


            </div>

        </div>

    </div>
