
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model ChemAnalyst.Models.SA_Company
<div class="update-profile-wrapper">

    <h3><a href="@Url.Action( "Company","Company" )"><i class="fa fa-list"></i> Job List</a></h3>

    <div class="white-wrapper">

        <div class="col-md-6 col-lg-7 col-md-offset-2">

            <div class="eq-form">
                <div class="change">
                    <img src="~/images/change-img.jpg" alt="" />
                    <p>Add New Product</p>
                </div>

                <div class="eq-form-box">
                    @using (Html.BeginForm("SaveCompany", "Company", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()
                        <div style="visibility:hidden">
                            @Html.TextBoxFor(model => model.id, new { @class = "form-control", @placeholder = "Title * ", required = "required" })
                        </div>
                        <div class="col-md-4 col-lg-12 form-group">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name * ", required = "required" })


                            @*<input type="text" value="" size="40" class="form-control" placeholder="Title">*@
                        </div>



                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="10" class="form-control" placeholder="Description"></textarea>*@
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 4, @placeholder = "Description * " })


                        </div>
                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = 4, @placeholder = "Address * ", required = "required" })


                        </div>
                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                            @Html.TextBoxFor(model => model.Category, new { @class = "form-control", @placeholder = "Category * ", required = "required" })


                        </div>
                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                            @Html.TextBoxFor(model => model.CEO, new { @class = "form-control", @placeholder = "CEO * ", required = "required" })
                        </div>

                            <div class="col-md-4 col-lg-12 form-group">
                                @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                @Html.TextBoxFor(model => model.CIN, new { @class = "form-control", @placeholder = "CIN * ", required = "required" })
                                </div>

                                <div class="col-md-4 col-lg-12 form-group">
                                    @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", @placeholder = "Email Id * ", required = "required" })

                                    </div>
                                    <div class="col-md-4 col-lg-12 form-group">
                                        @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                        @Html.TextBoxFor(model => model.fax, new { @class = "form-control", @placeholder = "Fax * ", required = "required" })
                                    </div>

                                        <div class="col-md-4 col-lg-12 form-group">
                                            @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                            @Html.TextBoxFor(model => model.NOE, new { @class = "form-control", @placeholder = "Number of employee * ", required = "required" })
                                        </div>

                                            <div class="col-md-4 col-lg-12 form-group">
                                                @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                                @Html.TextBoxFor(model => model.phoneNo, new { @class = "form-control", @placeholder = "Phone Number * ", required = "required" })

                                            </div>
                                                <div class="col-md-4 col-lg-12 form-group">
                                                    @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                                    @Html.TextBoxFor(model => model.RegDate, new { @class = "form-control", @placeholder = "Registration Date * ", type = "date", required = "required" })

                                                </div>
                                                    <div class="col-md-4 col-lg-12 form-group">
                                                        @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                                                        @Html.TextBoxFor(model => model.website, new { @class = "form-control", @placeholder = "Website * ", required = "required" })


                                                      
                                                        </div>
                                                   
                                                
                                            
                                      
                                 

                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="4" class="form-control" placeholder="Meta Title"></textarea>*@
                            @Html.TextBoxFor(model => model.Meta, new { @class = "form-control", @placeholder = "Meta Title * " })


                        </div>

                        <div class="col-md-4 col-lg-12 form-group">
                            @*<textarea rows="4" class="form-control" placeholder="Meta Description"></textarea>*@
                            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", @rows = 4, @placeholder = "Meta Description * "})


                        </div>




                        @*<div class="col-sm-6 col-lg-12">
                                <div class="form-group">

                                    @Html.DropDownListFor(m => m.Product, Model.ProductList, "Select Product", new { @class = "form-control" })


                            </div>*@

                        <div class="col-sm-6 col-lg-12">
                                <div class="form-group">
                                    <input type="file" name="file" class="form-control" />


                                </div>
                            </div>

                        <div class="btn-wrapper">

                            <a class="gray-btn" href="@Url.Action("Company","Company")">Cancel</a>
                            <input type="submit" class="blue-btn" value="Save">

                        </div>

                    }

                </div>


            </div>

        </div>
    </div>

</div>







<script>

$(document).on('click', '.browse', function(){
  var file = $(this).parent().parent().parent().find('.file');
  file.trigger('click');
});
$(document).on('change', '.file', function(){
  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
});


</script>

